<%layout('layouts/boilerplate.ejs')%>
<h1>Login</h1>
<form action="/login" method="post" class="validated-form" novalidate>
    <div class="mb-3">
        <label for="username" class="form-label">username</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="enter username" required>
        <div class="valid-feedback">
            Looks Good!
        </div>
        <div class="invalid-feedback">
            Enter Username
        </div>
    </div>


    <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="enter password" required>
        <div class="valid-feedback">
            Looks Good!
        </div>
        <div class="invalid-feedback">
            Enter password
        </div>
    </div>
    
<button type="submit" class="btn btn-outline-success">Login</button>

</form>